h1{
    padding: var(--padding-lg) 0px;
}
section{
    padding: var(--padding-md) 0px;
}
.card{
    width: 180px;
}
.card :hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
input[type="text"], input[type="email"], input[type="password"], textarea{
    margin:10px 0px;
}